* {
    background-color: azure;
}

h1 {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border: 2px solid rgb(113, 143, 143);
    border-radius: 40px;
    margin: auto;
    padding: 6px;
}

.input {
    width: 350px;
    padding: 5px;
    margin: auto;
    font-style: italic;
    font-size: 15px;
}

.btnConfirmar {
    width: 350px;
    margin: auto;
    cursor: pointer;
    padding: 3px;
    background-color: rgb(160, 215, 215);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}