* {
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuevaTarea{
    width: 450px;
    margin: 0 auto;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    border: 1px solid #4f4fc0;
    border-radius: 5px;
}

.nuevaTarea:focus{
    outline: none;
    border: 2px solid #4f4fc0;
}

.listaTareas{
    padding-top: 20px;
}

.elementoLista {
    list-style-type:square;
    font-size: 22px;
    font-weight:500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

.elementoLinea {
    width: 400px;
    height: 1px;
    border: none;
    background-color: #4f4fc0;

}